@using AhmedovTravel.Core.Models.Room
@model EditRoomViewModel;

@{
    ViewBag.Title = "Edit Room";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.Persons" class="form-label">Persons</label>
                <input asp-for="@Model.Persons" min="1" max="3" class="form-control" aria-required="true" />
                <span asp-validation-for="Persons" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label">Image Url</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.PricePerNight" class="form-label">Price for a night</label>
                <input asp-for="@Model.PricePerNight" class="form-control" aria-required="true" />
                <span asp-validation-for="PricePerNight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomTypeId">RoomType</label>
                <select asp-for="RoomTypeId" class="form-control">
                    @foreach (var roomtype in Model.RoomTypes)
                    {
                        <option value="@roomtype.Id">@roomtype.Name</option>
                    }
                </select>
                <span asp-validation-for="RoomTypeId" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}