@model IEnumerable<AllDestinationsViewModel>

@{
    ViewBag.Title = "All Destinations";
}
<div class="text-center row">
    @foreach (var destination in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@destination.ImageUrl" alt="Destination Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@destination.Title</h5>
                <p class="card-title mt-1">@destination.Town</p>
                <p class="mb-0">Price: @destination.Price</p>
                <p class="mb-0">Rating: @destination.Rating</p>
            </div>
        </div>
    }
</div>