@model IEnumerable<AllDestinationsViewModel>

@{
    ViewBag.Title = "All Destinations";
}
<div class="text-center row">
    @foreach (var destination in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"
             src="@destination.ImageUrl" alt="Destination Image">
            <div class="card-body">

                <h5 class="card-title mt-1">@destination.Title</h5>
                <p class="card-title mt-1">@destination.Town</p>
                <p class="mb-0">Price: @destination.Price</p>
                <p class="mb-0">Rating: @destination.Rating</p>
            </div>
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <form class="input-group-sm" asp-route-destinationId="@destination.Id" asp-controller="Destination" asp-action="AddToCollection" method="post">
                    <input type="submit" value="Select" class="fs-6 btn btn-success mb-3 p-2" />
                </form>
                <form class="input-group-sm" asp-route-Id="@destination.Id" asp-controller="Destination" asp-action="Edit" method="get">
                    <input class="fs-6 btn btn-success mb-3 p-2" type="submit" value="Edit" />
                </form>
            }
        </div>
    }
</div>